@font-face {
    font-family: 'Henry Higgins Sans';
    src: url('HenryHigginsSans-Regular.woff2') format('woff2'),
        url('HenryHigginsSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--nc-font-sans: 'Henry Higgins Sans'
}

.github-corner {
    fill: var(--nc-tx-1);
    color: var(--nc-bg-1);
}

table {
    word-break: keep-all;
}

#title-text {
    max-height: 170px;
    margin-top:20px;
    margin-bottom: 0px;
}